@charset 'utf-8';
 
row-fluid {
  display: block;
  width: 100%;
  *zoom: 1;
 
}
 
body {
  display: 'block';
}
.Logo{
  padding: 50px;
}

butt.btn {
  background-color: plum;
}

.butt {
  background-color: plum;
  font: inherit;
  border: 1px solid plum;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.butt:hover,
.butt:active {
  background: #6219d6;
  border-color: #6219d6;
}
.form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.label {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  color: white;
}

.glenn {
  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: rgba(0, 0, 0, 0.75);
  display: block;
  padding-left: 550px;
  padding-top: 100px;
}

.Image1 {
  width: 40%;
  float: left;
  margin-left: 0px;
  margin-right: 40px;
  padding: 20px;
}
.Image1 img {
  height: 400px;
  border:1px solid #021a40;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Image2 {
  width: 40%;
  float: left;
  margin-left: 0px;
  margin-right: 20px;
  padding: 20px;
}
.Image2 img {
  height: 400px;
  margin-left: 100px;
  margin-bottom: 0px;
  border:1px solid #021a40;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
nav.navbar {
  background-color: #73bfeb;
  // #91cbed; 
  //  #9dd2eb;
}